{% extends "BASE/base.html" %}

{% block title %}Kvíz{% endblock %}

{% block css_link %}
/static/secret.css
{% endblock %}

{% block content %}
<div class="quiz-container">
    
    <form action="{{ url_for('secret.secret_route') }}" method="post">
        <div class="question">
            <h2>{{ question.text }}</h2>
            <div class="answers">
                {% for answer in question.answers %}

                    <button type="submit" name="answer" value="{{ answer }}">{{ answer }}</button>
                {% endfor %}
            </div>
        </div>
    </form>
    {% if session['question_index'] > 0 %}

        <div class="score">
            Průběžné skóre: {{ session['correct_answers'] }}/7
        </div>
    {% endif %}
</div>
{% endblock %}
