{% extends "base/base.html" %}

{% block title %}Zapomenuté Heslo{% endblock %}

{% block css_link %}/static/lost_password.css{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h2>Obnova zapomenutého hesla</h2>
    <p>Zadejte svůj e-mail níže a my vám zašleme instrukce k obnovení vašeho hesla.</p>
    
    <form action="{{ url_for('routes.send_email') }}" method="post">
        <label for="email">E-mail:</label>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="email" id="email" name="email" required>
        <button type="submit" class="reset-button">Odeslat</button>
    </form>
</div>
{% endblock %}
